.lgxy-card {
  position: relative;
  margin-top: 1.2em;
  margin-bottom: 2em;
  padding: 0.5em;
  width: 85%;
  margin-left: calc(7.5% - 0.5em);
  border-radius: 0.5em;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.2);
}

.lgxy-card .item:not(:first-child) {
  margin-top: 1em;
}

.lgxy-card .item.clickable:active {
  background: rgba(33,33,33,0.1);
}

.lgxy-spectate {
  position: fixed;
  height: 0%;
  width: 0%;
  top: 50%;
  left: 50%;
  background: rgba(33,33,33,0.4);
  transition: height 0.5s, width 0.5s, left 0.5s, top 0.5s;
}

.lgxy-spectate.active {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.lgxy-spectate img {
  width: 80%;
  height: 80%;
  max-width: 20em;
  max-height: 20em;
  border-radius: 0.6em;
}

.lgxy-spectate.active img {
  position: relative;
}

.lgxy-links {
  position: fixed;
  width: 18em;
  height: 4em;
  background: rgba(33,33,33,0.9);
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.2);
  bottom: 1em;
  left: calc(50% - 9.5em);
  border-radius: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.lgxy-links > img {
  height: 2.5em;
  width: 2.5em;
  border-radius: 0.2em;
}

.lgxy-links > * {
  margin-left: 0.6em;
  margin-right: 0.6em;
}

.lgxy-links .icon {
  font-size: 1.7em;
  color: var(--Tertiary);
}
