nav {
  height: 64px;
  background-color: var(--Primary);
  align-items: center;
}

nav.formalize {
  background-color: var(--Tertiary) !important;
}

.navbar-active {
  opacity: 0.7;
  pointer-events: none;
}

.navbar-tab {
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 0.8em;
  margin-right: 0.8em;
  font-size: 1.1em;
}

.navbar-tab:hover {
  opacity: 0.7;
}

.navbar-logo {
  height: 70%;
}

@media (max-width: 800px) {
  .navbar-tab {
    display: none;
  }
}
