@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@300;400;600&display=swap');
@import "./styles/Colors.css";

:root {
  --Primary: #212121;
  --PrimaryDark: #cd1831;
  --Secondary: #1d1f26;
  --Tertiary: #FFFFFF;
  --Background: #F7F8FD;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--Background);
  color: var(--Tertiary);
}

#root {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.dancing {
  font-family: 'Dancing Script', cursive;
  letter-spacing: 0.1em;
}

.primary {
  color: var(--Primary);
}

.primaryFill {
  background-color: var(--Primary);
}

.secondary {
  color: var(--Secondary);
}

.secondaryFill {
  background-color: var(--Secondary);
}

.tertiary {
  color: var(--Tertiary);
}

.tertiaryFill {
  background-color: var(--Tertiary);
}

.defaultColumnContainer {
  display: flex;
  flex-direction: column;
}

.defaultRowContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap !important;
}

.defaultSection {
  position: relative;
  min-height: calc(100% - 5em);
  padding: 0.5em;
  width: calc(100% - 1em);
}

.fullWidth {
  width: 100%;
}

.insetWidth {
  width: 94%;
  margin-left: 3%;
}

.fullHeight {
  height: 100%;
}

.flexible {
  display: flex;
}

.centerText {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerAlign {
  align-items: center;
}

.centerJustify {
  justify-content: center;
}

.light {
  font-weight: lighter;
}

.bold {
  font-weight: bold;
}

.spacer2 {
  flex: 0.02;
}

.spacer4 {
  flex: 0.04;
}

.spacer10 {
  flex: 0.1;
}

.spacer20 {
  flex: 0.2;
}

.spacer22 {
  flex: 0.22;
}

.spacer25 {
  flex: 0.25;
}

.spacer15 {
  flex: 0.15;
}

.spacer35 {
  flex: 0.35;
}

.spacer40 {
  flex: 0.4;
}

.headerLine {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  width: 4em;
  height: 2px;
}

.spacer {
  flex: 1 1 auto;
}

.height85 {
  height: 85%;
}

.rounded {
  border-radius: 20px;
}

.relative {
  position: relative;
}

.backgroundFill {
  background-color: var(--Background);
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.lgxy-loader {
  position: absolute;
  top: 2%;
  left: calc(50% - 20px);
}

.space-around {
  justify-content: space-around;
}

.marginWidth {
  width: 70%;
  margin: 0 auto;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.medicon {
  font-size: 48px;
}

.bigicon {
  font-size: 96px;
}
